﻿@model List<ToDoItemMvcModel>
@*<div asp-validation-summary="All"></div>*@

<super-bs4-crud-multi-column-editable-list page-title="My ToDo Items" items="@Model" type-of-data-context="typeof(DataContext)" />
