﻿@model ProfessorMvcModel

@*<super-bs4-crud-edit page-title="Edit Professor"/>*@

<super-bs4-crud-header-and-footer>
    @Model.EditorTemplate(Html, 100, 100)
    <hr />
    @Model.EditorTemplate(Html, 200, 200)
</super-bs4-crud-header-and-footer>
