﻿@model DepartmentDetailMvcModel

<super-bs4-crud-edit page-title="Edit Department" />
<hr />
<super-bs4-crud-multi-column-children-list title="Majors" items="@Model.Majors" 
                                           child-controller-type="typeof(MajorController)" parent-id="@Model.Id"/>