﻿@using Supermodel.Presentation.Mvc.Bootstrap4.D3.Models
@model ListWithCriteria<SIS2UserMvcModel, Bs4.SimpleSearchMvcModel>

@{
    var barChart = (D3.BarChartMvcModel)ViewBag.BarChart;
    var donutChart = (D3.DonutChartMvcModel)ViewBag.DonutChart;

}

<super-bs4-display for="@barChart" />
<br />
<super-bs4-display for="@donutChart" />

<super-bs4-crud-search-form for="@Model.Criteria" reset-button="true" />

<super-bs4-crud-multi-column-editable-list page-title="Users" items="Model" type-of-data-context="typeof(DataContext)"/>
@*<super-bs4-crud-multi-column-list page-title="Users" items="Model"/>*@
@*<super-bs4-crud-multi-column-list-no-actions page-title="Users" items="Model" />*@

<super-bs4-pagination />

<p>Total users: <super-bs4-pagination-total-records-count /></p>
