@{
    Layout = "_EmptyLayout";
}
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-controller="ToDoItem" asp-action="List">My To Do Items</a>
                    <a class="dropdown-item" asp-controller="Professor" asp-action="List">Professors</a>
                    <a class="dropdown-item" asp-controller="Professor2" asp-action="List">Professors #2</a>
                    <a class="dropdown-item" asp-controller="Class" asp-action="List">Classes</a>
                    <a class="dropdown-item" asp-controller="Department" asp-action="List">Departments</a>

                </div>
            </li>
        </ul>
        <ul class="nav-item navbar-nav navbar-right">
            @if (RequestHttpContext.IsCurrentUserInRole(SIS2User.AdminRole))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-controller="SIS2User" asp-action="List" asp-route-smSkip="0" asp-route-smTake="4" asp-route-smSortBy="LastName,FirstName">Manage Users</a>
                    </div>
                </li>
            }
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Welcome, @RequestHttpContext.CurrentUserLabel
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-controller="SIS2UserUpdatePassword" asp-action="Detail" asp-route-id="@RequestHttpContext.CurrentUserId">Change Password</a>
                    <a class="dropdown-item" asp-controller="Auth" asp-action="LogOut">Sign Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<br />
<div id="body">
    @RenderBody()
</div>